* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #5a7184;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Gilroy", sans-serif;
  background: #fff;
  min-height: 100vh;
  font-style: normal;
}
p {
  font-size: 1.125rem;
  color: #5a7184;
  line-height: 1.85rem;
}
.link {
  white-space: nowrap;
}

.c-bold {
  font-weight: 700 !important;
}
.c-semi-bold {
  font-weight: 600 !important;
}

.c-light {
  font-weight: 300 !important;
}
.c-title {
  /* font-size: 2.5rem; */
  color: var(--dark-blue);

  &--small {
    font-size: 1.125rem;
    color: var(--dark-blue);
    font-weight: 600;
  }
}

.text-cus-col {
  color: var(--dark-blue) !important;
}

.c-normal {
  font-weight: 400;
}

.sub-text {
  font-size: 1.125rem;
  max-width: 500px;
}

.pattern-img {
  top: -60px;
  left: -45px;
  max-width: 300px;
}

.c-title--small {
  font-weight: 600;
  font-size: 0.875rem;
  padding-bottom: 1.7rem;
  letter-spacing: 0.15625rem;
}

.c-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;

  letter-spacing: -0.5px;
  padding-bottom: 1rem;
  color: #1b4a71;
}

.btn-custom {
  padding: 0.9rem 2rem;
  font-size: 0.95rem;
  /* letter-spacing: 0.04rem; */
  background: rgb(255 148 54);
  border: rgb(255 148 54);
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 1420px) {
  .container {
    max-width: 1240px;
  }
}

.logo {
  max-width: 130px;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation: bounce 10s infinite ease-in-out;
  -o-animation: bounce 10s infinite ease-in-out;
  -ms-animation: bounce 10s infinite ease-in-out;
  -moz-animation: bounce 10s infinite ease-in-out;
  animation: bounce 10s infinite ease-in-out;
}

.c-light-pink {
  background: #ffeaf7;
}
.c-light-blue {
  background: #f0f4f5;
}
.c-light-green {
  background: #e9ffaf;
}
.c-light-yellow {
  background: #ffefc3;
}
.striped-text {
  border-bottom: 1.1rem solid #f2994a;
  height: 3rem;
  display: INLINE-BLOCK;
}
