.footer {
  &__container {
    padding: 5rem 0 2rem 0;
  }
  &__links {
    color: #3476ad;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    a {
      margin-left: 2rem;
      color: #3476ad;
    }
  }
  &__btn {
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.83rem;
  }
  &__copy {
    color: #1b4a71;
    font-weight: 700;
  }
}

@media (max-width: 1122px) {
  .footer__links {
    width: 100%;
    text-align: center;
  }

  .footer__links a {
    display: block;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footer__links a.btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
