.c-header {
  min-height: 100vh;
  overflow: hidden;
  padding: 9rem 0;
  background: rgba(238, 243, 255, 0.45);
  mix-blend-mode: normal;
  overflow: hidden;

  &__title span {
    border-bottom: 18px solid #f2994a;
    height: 3.6rem;
    /* color: #fff; */
    display: INLINE-BLOCK;
  }

  &--lender {
    min-height: auto;
    padding: 2rem 0;
  }

  &__btn {
    background: #fff;
    color: #3073ac !important;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
    letter-spacing: 0.1rem;
    padding: 0.6rem 1.6rem;
  }
  &__inner {
    width: 100%;
  }
  &__bg-one {
    top: 0;
    right: 0;
    z-index: 0;
    max-width: 70%;
  }
  &__bg-two {
    bottom: 0px;
    left: 0;
    z-index: 0;
    max-width: 20%;
  }
  &__text-container {
    width: 100%;
    position: relative;
    z-index: 21;
    padding-top: 25px;
    /* padding-left: 2rem; */
    padding-right: 2rem;
    max-width: 700px;
  }
  &__img-container {
    width: 100%;
    img {
      width: 70%;
    }
  }

  &__title {
    font-size: 3.2rem;
    color: var(--dark-blue);
  }
  &__text {
    font-size: 1.325rem;
    color: #5a7184;
    font-weight: 400;
    /* opacity: 94%; */
    line-height: 1.8;
  }
  &__resp {
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    img {
      width: 70%;
    }
  }
}

@media (min-width: 768px) {
  .c-header__text-container {
    width: 52%;
  }
  .c-header {
    padding: 13rem 0 17rem 0;
  }
  .c-header--lender {
    padding: 10rem 0;
  }
  .c-header__img-container {
    width: 47%;
  }

  .c-header__title {
    font-size: 4rem;
    span {
      border-bottom: 22px solid #f2994a;
      height: 4rem;
      /* color: #fff; */
      display: INLINE-BLOCK;
    }
  }
}
@media (min-width: 922px) {
  .c-header__img-container img {
    width: 65%;
  }
}
