.slider {
  padding: 4.5rem 0;
  background: url(../../assets/images/count-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &__item {
    border-radius: 6px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    img {
      max-height: 23px;
      width: unset;
    }
  }
}
